@page "/event/overview/{eventId}"
@model VPTExtra.Pages.EventOverviewModel
@{
}
    <link href="@Url.Content("~/css/event.css")" rel="stylesheet" type="text/css" />
<button style="background-color:yellow;height: 20px;"></button> : your seats
<br />
<button style="background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); height: 20px;"></button> : taken seats
<br />
<button style="background: linear-gradient(to top, #2193b0 0%, #6dd5ed 100%); height: 20px;"></button> : available seats
<h1 style="color:red;">Choose your seat.</h1>
<h4>Event: @Model.Event.Location</h4>
<h4>Start date: @Model.Event.StartDate</h4>
<h4>End date: @Model.Event.EndDate</h4>
<br />
<div class="sectors">
    @foreach (var sector in Model.Event.Parts)
    {
        <div class="sector">
            <h3>Sector @sector.Name</h3>
            <div class="rows">
                @foreach (var row in sector.Rows)
                {
                    <div class="row">
                        <p style="font-weight:bold;">Row @row.Name</p>
                        <div class="seats">
                            @foreach (var seat in row.Chairs)
                            {
                                <div class="seat-inner">
                                    @if (seat.User != null)
                                    {
                                        @if (seat.User.Id == Model.currentUserId)
                                        {
                                            <form method="post">
                                                <button type="submit" style="background: yellow;" asp-page-handler="RevertPlacement"
                                                        asp-route-chairId="@seat.Id" class="seat-code">
                                                    @seat.Name
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <button type="submit" style="background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); color:white;"
                                                    asp-route-chairId="@seat.Id" class="seat-code">
                                                @seat.Name
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        <form method="post">
                                            <button type="submit" style="background: linear-gradient(to top, #2193b0 0%, #6dd5ed 100%);" asp-page-handler="PlaceVisitor"
                                                    asp-route-chairId="@seat.Id" class="seat-code">
                                                @seat.Name
                                            </button>
                                        </form>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
