@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="@Url.Content("~/css/EventsOverview.css")" rel="stylesheet" type="text/css" />
</head>

<section class="cards-wrapper">
    @foreach (var item in Model.Events)
    {
        <div class="card-grid-space">
            <div class="num">@item.Id</div>
            <a class="card" asp-page="/EventOverview" asp-route-eventId="@item.Id" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
                <div>
                    <h1>@item.Location</h1>
                    <p>Description to be added..</p>
                    <div class="date">@item.StartDate</div>
                    <div class="tags">
                        <div class="tag">Seats: @item.VisitorLimit</div>
                    </div>
                </div>
            </a>
        </div>
    } 
</section>

