@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="@Url.Content("~/css/EventsOverview.css")" rel="stylesheet" type="text/css" />
</head>
<div class="scroll">
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<div class="outer-box-frame">

<div class="overview">
    @foreach (var item in Model.events)
    {
        <article class="profile">
            <h2 class="profile-username">@item.Location</h2>
            <small class="profile-user-handle">@item.StartDate</small>
            <small class="profile-user-handle">@Html.Raw(item.VisitorLimit - item.ChairsReserved) seat(s) left</small>
            <div class="profile-actions">
                <a class="btn btn--primary" asp-page="/EventOverview" asp-route-eventId="@item.Id">Enter</a>
            </div>
        </article>
    }
</div>
</div>
</div>