@page "/profile"
@model VPTExtra.Pages.Account.ProfileModel
@{
}
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<section style="background-color: #eee;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">@Model.user.Name</h5>
                    <p class="text-muted mb-1">@Model.user.Email</p>
                    @* <p class="text-muted mb-4">Role: @Model.user</p> *@
                    <div class="d-flex justify-content-center mb-2">
                        
                    </div>
                </div>
            </div>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        @foreach (var item in Model.visitorEvents)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;">Events joined: </i>
                                <p style="font-weight:bold;" class="mb-0">@item.Location </p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            @if (Model.QrCodeImageBase64 != null)
                            {
                                <h3>Scan this QR Code to place visitor:</h3>
                                <img src="data:image/png;base64,@Model.QrCodeImageBase64" alt="QR Code" />
                            }
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.user.Name</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.user.Email</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">(097) 234-5678</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Mobile</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">(098) 765-4321</p>
                        </div>
                    </div>
                    <hr>
                    @*  <div class="row">
                    <div class="col-sm-3">
                    <p class="mb-0">Role</p>
                    </div>
                    <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.user.Role.RoleName</p>
                    </div>
                    </div> *@
                </div>
            </div>
            <div class="row">
                <p class="mb-0">Your events:</p>
                @foreach (var item in Model.visitorEvents)
                {
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">
                                        <a asp-page="/EventOverview" asp-route-eventId="@item.Id">@item.Location</a>
                                    </span>
                                </p>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Your seats: @item.ChairsReserved</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
   @*                              <p class="mt-4 mb-1" style="font-size: .77rem;">@item.Movie.MovieDirector</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">@item.Movie.MovieLanguage</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">@item.Movie.MovieReleaseDate</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">@Model.movieService.TryGetAverageRating(item.Movie.MovieId)</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">@Model.movieService.TryGetCategories(item.Movie.MovieId)</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div> *@
                            </div>
                        </div>
                        <br />
                    </div>
                }

            </div>
        </div>
    </div>
    </div>
</section>