@page "/account/profile"
@model VPTExtra.Pages.Account.ProfileModel
@{
}
<body>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Location</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Visitor Limit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model._visitorEvents)
            {
                <tr>
                    <td></td>
                    <td><a asp-page="/EventOverview" asp-route-eventId="@item.Id">@item.Id</a></td>
                    <td>@item.Location</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.VisitorLimit</td>
                </tr>
            }
        </tbody>
    </table>
</body>